body {
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    background-color: #f0f4f8;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding 0;   /* NEML襤 !!!!!!! */
}

.container {
    max-width: 1000px;
    margin: 0 auto; /* Konteyneri yatayda ortalar */
    padding: 20px;  /* Kenarlardan boluk b覺rak覺r # BURASI NEML襤!!!!!*/  
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center; /*eleri dikeyde ortalar*/
    padding: 15px 40px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05); /* 襤nce bir g繹lge */
    
}

.main-header .logo img {
    max-width: 150px;
    display: block;
}

.main-header nav a {
    color: #1a2b41;
    text-decoration: none; /* 羹zerine geldiinde alt覺n覺n 癟izme 繹zelliini kald覺r覺yor */
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s; /* ai */
}

/* ANA BALIK */

h1 {
    font-size: 3.5rem;
    color: #1a2b41;
    text-align: center;
    margin-bottom: 40px;
}

/* ALT BALIK */

h2 {
    color: #0b4a5a;
    font-size: 2.5rem;
    margin-bottom: 15px;
}


/* PARAGRAFLAR */

p {
    margin-bottom: 1rem;
}

/* --- Resimler --- */

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#imgs {
    display: block;
    margin: 0 auto 40px auto; /* Resmi ortalar ve alt覺na boluk b覺rak覺r */
    box-shadow: 0 4px 15px rgba(0,0,0,0,1)
}

    /* --- Bouldering Nedir? B繹l羹m羹 (Flexbox ile D羹zenlendi) --- */

.intro-section {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.intro-section .text-content {
    flex: 1; /* Metin i癟eriinin mevcut alan覺 doldurmas覺n覺 salar */
    flex-basis: 45%; /* genilii ayarlar */
}

/* --- Mavi Kutu B繹l羹m羹 --- */

.info-box {
    background: #0b4a5a;
    color: white;
    padding: 30px;
    border-radius: 8px;
    margin: 40p 0; 
}

.info-box p {
    margin: 0; /* ekstra boluklar覺 kald覺r覺r */
    font-size: 1.2rem;
    line-height: 1.7;
}

#reason ul {
    list-style-type: ''; /* Liste ba覺na emoji */
    padding: 30px;
}

#reason li {
    padding-left: 15px;
    margin-bottom: 10px;
}

a {
    color: #d9534f;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Alt K覺s覺m */
footer {
    background-color: #e1e8f0;
    border-top: 3px solid #0b4a5a;
    text-align: center;
    font-size: 0.9rem;
    color: #333;
    padding: 20px;
    margin-top: 50px
}

/* GETTINGSTARTED.HTML */
.section-beforego {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    margin: 40px 0;
}


.str {
    color: #0b4a5a;
}

.info-box-before-you-go {
    flex: 1;
    color: white;
    padding: 60px;
    inline-size: 300px;
    background-image: url('../images/simple-steps.jpg');
    border-radius: 8px;
}

.info-box-before-you-go h3 {
    margin-top: 0;
    color: violet;
}

.text-area {
    inline-size: 300px;
    flex: 1;
    padding: 20px;
}

.text-area h3 {
        margin-top: 0;
}

.text-area ol {
    padding-left: 20px;
    margin: 0;
}

.text-area li {
    margin-bottom: 5px;
}


.image-content {
    inline-size: 400px;
    max-width: 400px;
}